.index-xian{
	 height: 550px !important;
}
.news-g li{
	margin-left: 2%;
	width: 48% !important;
}
@media only screen and (max-width:414px) {
   .text-center {
    text-align: center;
    margin-top: 45px;
}
   .xc-h5{
   	display: none;
   }
   .row{
   	width: 90% !important;
    margin-left: 5% !important;
}
.col-md-4{
	padding-left: 0px;
	padding-right: 0px;
}
.nei-ul {
    display: none;
}

.index-tu-button{
	display: none;
}
.index-xian {
	height: 630px !important;
}
h3{
	font-size:20px;
}
	#col_cont p {
		font-size: 15px;
	}
}
@media only screen and (max-width:480px) {
.floating_ck{
	display: none;
}
.nei-ul{
	display: none;
}
	.news-g ul{
		margin-top: 10px;
	}
	.news-g li{
		margin-left: 2%;
		height: 110px !important;
	}
	.news{
		height: 220px !important;
	}
	.shi{
		font-size: 12px !important;
	}
	.riqi{
		font-size: 35px !important;
	}
	.index-xian {
		height: 630px !important;
	}
	#col_cont p {
		font-size: 15px;
	}
}
@media only screen and (max-width:414px) {
.floating_ck{
	display: none;
}
.nei-ul{
	display: none;
}
}
@media only screen and (max-width:375px) {
.floating_ck{
	display: none;
}
.nei-ul{
	display: none;
}
}